.App {
  text-align: center;
  
  background-color: blueviolet;
  color: white;
   margin: auto;
 
}

.container{
  display: flex;
  flex-direction: column;
   border: 2px solid rgb(214, 214, 214);
   align-items: center;
   justify-content: center;
    font-weight: bold;
    background-color: rgb(132, 6, 236);
    color: aliceblue;
    padding: 40px;
   
}
.container li
{
  border-bottom: 3px solid rgb(46, 226, 10);
   text-decoration: none;
   margin-top: 10px;
   width: 100%;
   padding: 10px;
}

.btn{

  text-align: center;
  margin-bottom: 20px;
}
.btn button{
  font-size: larger;
  font-weight: bolder;
  margin-left: 10px;
  padding: 10px;
  background-color: aqua;
  color: rgb(245, 142, 9);
  border: 2px solid blue;
  border-radius: 20px;
  cursor: pointer;
}